<h1>Welcome Rails</h1>
<!-- <p>Find me in app/views/welcome/index.html.erb</p> -->
<%= link_to 'Users', controller: 'users' %><br><br>
<%= link_to 'Countries', controller: 'countries' %><br><br>
<%= link_to 'Products', controller: 'products' %><br><br>
<%= link_to 'Categories', controller: 'categories' %><br>